@(widgets: Seq[j], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("dbg") {

    <h1>SigmaState debugger</h1>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
      }
    }

    @helper.form(dbgPostUrl) {
      @helper.CSRF.formField

      @helper.inputText(dbg_form("source"))

      <button>Run</button>
    }
  }
